---
layout: default
title: NIPS Salon des Refusés
---

<div class="home">

  <h1>{{ site.conference.name }} Salon des Refusés</h1>
  <!--<h2>Volume {{ site.volume }}: {{ site.conference.name }} </h2>-->

  <h2>Exhibition number {{ site.volume }} deriving from decisions at {{ site.conference.name }} {{site.conference.year }}</h2>

  
  <div id="sectionnav">
    {% if site.sections %}
    <p>Contents:</p>
    <ul>
      {% for section in site.sections %}
      <li><a href="#{{ section.name }}">{{ section.title }}</a></li>
      {% endfor %}
      
    </ul>
    {% endif %}
    <label for="search-authors">Filter Authors:</label>
    <input type="search" name="filter-authors" id="search-authors" value />
    <label for="search-titles">Filter Titles:</label>
    <input type="search" name="filter-titles" id="search-titles" value />
  </div>
  <h2 id="exhibition">Papers in the Exhibition</h3>
  {% if site.sections %}
  {% for section in site.sections %}
  <h3 id="{{ section.name }}">{{ section.title }}</h3>
  {% if section.description %}
  <p>{{ section.description }}</p>
  {% endif %}
    {% for post in site.posts reversed %}
    {% if section.name == post.section %}
    {% include paper_list.html %}
    {% endif %}
    {% endfor %}
  </dl>
  {% endfor %}
  {% endif %}
<dl>
  {% for post in site.posts reversed %}
  {% unless post.section %} 
  {% include paper_list.html %}
  {% endunless %}
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  
</div>
<!-- Search Widget -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="../js/search.js"></script>
