<article class="post-content">
  <h1>{{ page.title }}</h1>
  <br>
  <div id="authors">
    {% assign lastone = page.authors | last %}
    {% for person in page.authors %}
    {% include listfullperson.html %}
    {% endfor %}
  </div>
  <div id="info">
    <em>Salon des Refusés</em> for {{ site.conference.name }}, {{ site.conference.year }}
  </div> <!-- info -->
{% if page.abstract %}  
  <h2>Abstract</h2>
  <div id="abstract">
    {{ page.abstract | markdownify }}
  </div>
  {% endif %}

  <h3>Related Material</h3>
  <div id="extras">
    <ul>
      {% if page.arxiv %}
      <li><a href="https://arxiv.org/abs/{{ page.arxiv }}">arxiv</a></li>
      {% unless post.pdf %}
      <li><a href="https://arxiv.org/pdf/{{ page.arxiv }}.pdf">pdf</a></li>
      {% endunless %}
      {% endif %}
      {% if page.researchgate %}
      <li><a href="https://www.researchgate.net/publication/{{ page.researchgate }}">ResearchGate</a></li>
      {% endif %}
      {% if page.pdf %}
      <li><a href="{{ page.pdf }}">pdf</a></li>
      {% endif %}
      {% for extra in page.extras %}
      <li><a href="{{ extra.link }}">{{ extra.label }}</a></li>
      {% endfor %}
      {% if site.github.links %}
      <li><a href="{{ site.github.url }}/{{ site.github_username }}/{{site.base_url}}{{ page.path }}">Paper details on GitHub</a></li>
      {% endif %}
    </ul>
  </div>
  <div id="content">
    {{ content | markdownify }}
  </div>
</article>
