<meta name="citation_title" content="{{ page.title }}">

{% for author in page.authors %}
<meta name="citation_author" content="{{ author.given }} {{ author.family }}">
{% endfor %}

{% if page.year %}
<meta name="citation_publication_date" content="{{ page.year }}">
{% else %}
<meta name="citation_publication_date" content="{{ site.year }}">
{% endif %}

<meta name="citation_conference_title" content="Salon des Refusés">
<meta name="citation_issn" content="">
<meta name="citation_volume" content="{{ site.volume }}">
<meta name="citation_firstpage" content="{{ page.firstpage }}">
<meta name="citation_lastpage" content="{{ page.lastpage }}">

<meta name="citation_pdf_url" content="{{ page.pdf }}">

<meta name="description" content="Salon des Refusés from {{ site.conference.name }} {{ site.conference.year }}">

